.czlowiek {
    height: 500px;
    width: 170px;
    display: block;
    position: absolute;
    background-color: bisque;
    bottom: 50px;
    left: 300px;
}

.pilka {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: cadetblue;
    animation: ball_horizontal 5s infinite,
        ball_vertical 5s infinite;
}

.kij {
    height: 300px;
    width: 30px;
    display: block;
    position: absolute;
    background-color: coral;
    animation: kij_move 3s infinite;
    animation-delay: -2s;
/*
    right: 200px;
    bottom: 100px;
*/
    
}

@keyframes ball_horizontal {
    0% {
        left: 470px;
    }
    50% {
        left: 1150px
    }
    100% {
        left: 470px;
    }
}

@keyframes ball_vertical {
    0% {
        bottom: 300px;
    }
    25% {
        bottom: 600px;
    }
    50% {
        bottom: 300px;
    }
    75% {
        bottom: 600px;
    }
    100% {
        bottom: 500px;
    }
}

@keyframes kij_move {
    0% {
        transform: rotate(360deg);
        right: 200px;
        bottom: 100px;
    }
    100% {
        right: 200px;
        bottom: 100px;
    }
}




