.czlowiek {
    height: 500px;
    width: 170px;
    display: block;
    position: absolute;
    background-color: bisque;
    bottom: 50px;
    left: 250px;
}

.pilka {
    margin: 0;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    bottom: 300px;
    left: 420px;
    background-color: cadetblue;
    animation: ball_horizontal 4s,
        ball_vertical 4s;
}

.kij {
    margin: 0;
    height: 300px;
    width: 30px;
    display: block;
    position: absolute;
    background-color: coral;
    right: 200px;
    bottom: 100px;
    animation-delay: 0.67s;
    animation-name: kij_move;
    animation-duration: 2s;
    
}

@keyframes ball_horizontal {
    0% {
        left: 420px;
    }
    50% {
        left: 1220px;
/*        left: 1177px*/
    }
    100% {
        left: -100px;
    }
}

@keyframes ball_vertical {
    0% {
        bottom: 300px;
    }
    15% {
        bottom: 550px;
    }
    50% {
        bottom: 300px;
    }
    75% {
        bottom: 660px;
    }
    100% {
        bottom: 640px;
    }
}

@keyframes kij_move {
    0% {
        transform: rotate(360deg);
        transform-origin: bottom;
        right: 200px;
        bottom: 100px;
    }
    100% {
        right: 200px;
        bottom: 100px;
    }
}




